[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third-party/SDL_ttf"]
	path = third-party/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
